html {
	font-size: 20px;
}

body {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
	font-size: 1rem !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
}

#logo {
	display: inline-block;
}

#logopng {
	height: 1.8rem;
	display: inline-block;
	vertical-align: text-top;
}

.link-icon {
	height: 1.2rem;
	display: inline-block;
	vertical-align: middle;
	filter: invert(100%);
}

.eachtitle {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.introducedivider {
	margin-top: 2.5rem;
}

.techtitle, .techcontent {
	text-align: center;
}

.techtitle {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.techcontent {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem;
}

.techlogo {
	height: 1rem;
	margin-right: .3rem;
	margin-top: -0.2rem;
}

.techpart {
	text-align: center;
}

.md-show {
	opacity: 0;
}

@media screen and (max-width: 992px) {
	.md-show {
		opacity: 1;
	}
}
